<div class="row">
	<div class="span9">
		<%= provide(:title, '- '+@post.title) %>
		<%- model_class = Post -%>
		<div class="page-header">
			<h1><%=t '.title', :default => model_class.model_name.human %>: <%= @post.title %></h1>
		</div>
		<dl class="dl-horizontal">
			<dt><strong>Description:</strong></dt>
			<dd><%= description_message %></dd>
		</dl>
	</div>
	<div class="span3">
		<legend>Messages associated to the description</legend>
		<% @post.messages.each do |message| 
			if from_description?(message) %>
				<%= render message%>
		<% 	end
		end
		%>
	</div>
</div>
<div class="form-actions">
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
							edit_post_path(@post), :class => 'btn' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
							post_path(@post),
							:method => 'delete',
							:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
							:class => 'btn btn-danger' %>
	<%= link_to 'Reply', new_message_path(:post => @post.remember_token, :from_post => true), :class => 'btn btn-primary' %>
	<br><br>
	<strong>Owner:</strong>
		<%= User.find_by_id(@post.user_id).username %>
	<strong><%= model_class.human_attribute_name(:created_at) %>:</strong>
		<%= @post.created_at %>
</div>
